@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your CSS file */
:root {
  --svg-color: #ff0000; /* Change SVG color to red */
}


html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db; /* Change this color to the desired color of the spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

